<h3 class="headline m-top-md">
  Add new participant
  <span class="line"></span>
</h3>

<div class="flash_div">
  <%= render 'flash_messages', flash: flash %>
</div>

<%= render :partial => 'form' %>